<div class="category">
    <div class="card mx-auto mb-2" style="margin-left: 30%;">
        <div class="d-flex align-items-center">
            <div class="card" style="width: 18rem;">
                <img src="/img/restaurant.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">음식</h5>
                    <p class="card-text">주변 맛집 및 패스트푸드점</p>
                    <a href="/category/food" class="btn btn-warning">검사 ✍️</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/school.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">학군</h5>
                    <p class="card-text">주변 도서관 및 학원</p>
                    <a href="/category/school" class="btn btn-warning">검사 ✍️</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/park.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">공원</h5>
                    <p class="card-text">주변 공원</p>
                    <a href="/category/park" class="btn btn-warning">검사 ✍️</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/transport.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">대중교통</h5>
                    <p class="card-text">주변 버스, 지하철역</p>
                    <a href="/category/transport" class="btn btn-warning">검사 ✍️</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mx-auto mb-2" style="margin-left: 30%;">
        <div class="d-flex align-items-center">
            <div class="card" style="width: 18rem;">
                <img src="/img/safe.jpg" class="card-img-top img-f" alt="...">
                <div class="card-body">
                    <h5 class="card-title">안전</h5>
                    <p class="card-text">주변 CCTV, 보안등 현황</p>
                    <a href="/category/safe" class="btn btn-warning">검사 ✍️</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/cultural_life.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">여가</h5>
                    <p class="card-text">주변 영화관</p>
                    <a href="/category/culture" class="btn btn-warning">검사 ✍️</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/shopping.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">쇼핑</h5>
                    <p class="card-text">주변 마트 및 재래시장</p>
                    <a href="/category/shop" class="btn btn-warning">검사 ✍️</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/gym.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">운동</h5>
                    <p class="card-text">주변 운동시설</p>
                    <a href="/category/gym" class="btn btn-warning">검사 ✍️</a>
                </div>
            </div>
        </div>
    </div>
</div>