<h4>π¬ μν™”κ΄€ ν„ν™©</h4>
<table class="table">
    <thead class="thead-dark">
        <th>μ‚¬μ—…μ¥λ…</th>
        <th>λ„λ΅λ…μ£Όμ†</th>
    </thead>
    <tbody>
        <%for (var i =0; i <movies.length; i++){%>
            <tr>
                <td>
                    <%=movies[i].BIZPLC_NM%>
                </td>
                <td>
                    <%=movies[i].REFINE_ROADNM_ADDR%>
                </td>
            </tr>
            <%}%>
    </tbody>
</table>


<p class = "sum">μ΄ μν™”κ΄€ κ°μ :
    <%=movies.length%>
</p>