<h4>π³ λ„μ‹κ³µμ› ν„ν™©</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>λ„μ‹κ³µμ›λ…</th>
            <th>λ„λ΅λ…μ£Όμ†</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i =0; i <city_parks.length; i++){%>
            <tr>
                <td>
                    <%=city_parks[i].PARK_NM%>
                </td>
                <td>
                    <%=city_parks[i].REFINE_ROADNM_ADDR%>
                </td>
            </tr>
            <%}%>
    </tbody>

</table>
<p class = "sum">μ΄ λ„μ‹κ³µμ› κ°μ :
    <%=city_parks.length%>
</p>