<h4>π“· CCTV ν„ν™©</h4>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>λ„λ΅λ…μ£Όμ†</th>
            <th>μΉ΄λ©”λΌλ€μ</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i =0; i <cctvs.length; i++){%>
            <tr>
                <td>
                    <%=cctvs[i].REFINE_LOTNO_ADDR%>
                </td>
                <td>
                    <%=cctvs[i].CAMERA_CNT%>
                </td>
            </tr>
            <%}%>
    </tbody>
</table>

<hr class="divide">

<h4>π’΅ λ³΄μ•λ“± ν„ν™©</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>λ„λ΅λ…μ£Όμ†</th>
            <th>μ„¤μΉκ°μ</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i =0; i <lights.length; i++){%>
            <tr>
                <td>
                    <%=lights[i].REFINE_LOTNO_ADDR%>
                </td>
                <td>
                    <%=lights[i].INSTL_CNT	%>
                </td>
            </tr>
            <%}%>
    </tbody>
</table>