<h4>π› μ‹μ¥ λ° λ§νΈ ν„ν™©</h4>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>μ‹μ¥λ…</th>
            <th>λ„λ΅λ…μ£Όμ†</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i =0; i <shops.length; i++){%>
            <tr>
                <td>
                    <%=shops[i].MARKET_NM%>

                </td>
                <td>
                    <%=shops[i].REFINE_ROADNM_ADDR%>
                </td>
            </tr>
            <%}%>
    </tbody>

</table>



<p class="sum">μ΄ μ‹μ¥ λ° λ§νΈ κ°μ :
    <%=shops.length%>
</p>